@font-face {
  font-family: "Open Sans";
  src: local(Open-Sans-Regular), url("../src/Fonts/OpenSans-Regular.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: "Open Sans";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
